.main-header
  .main-header__left-box
    .main-header__left-box__current-group
      = @group.name
    %ul.main-header__left-box__member-list
      メンバー：
      %li.main-header__left-box__member-list__member
        - @group.group_users.each do |group_user|
          = group_user.user.name

  %a{:href => "/groups/#{@group[:id]}/edit"}
    .main-header__edit-btn Edit